{% extends "base.html" %}

{% block content %}
<h1>Log In</h1>
{% from "_formhelpers.html" import render_field %}
<form method=post action="/login">
  <dl>
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
  </dl>
  <p><input type=submit value=Register>
</form>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% endblock %}